html,
body {
  margin:0;
}
#root {  
  height: 100%;
}
.shell {
  display:flex;
  min-height: 100vh;
  background-color:rgb(30, 23, 126);
}
.sidebar {
  width:10%;
  color:rgb(252, 252, 252);
  background-color:rgb(30, 23, 126);
}
.panel {
  flex:1;
  min-width: 90vw;
  color:rgb(252, 252, 252);
  background-color:rgb(15, 44, 143);
}
